<div class="vegetable" layout="column" layout-align="center center">
    <p>Translated from home to this page: <b>{{vm.idOfVeg}}</b></p>

    <md-button class="md-primary" ui-sref="home">
        Back
    </md-button>
</div>