<div class="profile">
    <md-card md-theme="dark-blue" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$root.user.name}}</span>
                <span class="md-subhead">E-mail: {{$root.user.email}}</span>
                <span class="md-subhead">Pass: {{vm.userData.pass}}</span>
                <span class="md-subhead">Height: {{vm.userData.height}}</span>
                <span class="md-subhead">Name: {{vm.userData.name}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-md card-media">
                    <img src="../../img/user.jpg">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Edit</md-button>
        </md-card-actions>
    </md-card>
</div>