md-sidenav {
    width: 250px;
}

.menu-container {
    margin-top: 64px;
}

.menu-container .logo-container {
    width: 100%;
    text-align: center;
}

.menu-container .logo-container img {
    height: 128px;
}

.menu-container .logo-container h1 {
    margin-top: 0;
}

.menu-container md-content {
    margin: 0;
}

.menu-container md-list {
    margin: 0!important;
    padding: 0;
}

.menu-container md-list-item {
    padding: 0;
}

.menu-container .md-button.md-primary.menu-item {
    text-align: left;
    margin: 0;
    padding: 0 10px;
    width: 100%;
}

.menu-container .md-button.md-primary.menu-item img{
    height: 48px;
    padding-right: 10px;
}
.menu-container .md-button.md-primary.menu-item a{

}