<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav md-is-open="true" class="md-sidenav-left"
                    md-component-id="left" md-disable-backdrop md-whiteframe="4">
            <div class="menu-container">
                <div class="logo-container">
                    <img src="../../../img/angular-logo.svg"/>
                    <h1>Starter app</h1>
                </div>

                <md-content layout-margin>
                    <md-list flex>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-button class="md-primary menu-item"
                                       ui-sref="home"
                                       layout="row" layout-align="start center">
                                <img src="../../../img/angular-logo.svg"/>
                                <a>
                                    Home
                                </a>
                            </md-button>
                        </md-list-item>
                        <md-divider ng-if="$root.user"></md-divider>
                        <md-list-item ng-if="$root.user">
                            <md-button class="md-primary menu-item"
                                       ui-sref="profile"
                                       layout="row" layout-align="start center">
                                <img src="../../../img/angular-logo.svg"/>
                                Profile
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-button class="md-primary menu-item"
                                       ui-sref="new-page"
                                       layout="row" layout-align="start center">
                                <img src="../../../img/angular-logo.svg"/>
                                New item
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-button class="md-primary menu-item"
                                       ui-sref="new-page"
                                       layout="row" layout-align="start center">
                                <img src="../../../img/angular-logo.svg"/>
                                New item
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </div>
        </md-sidenav>
    </section>
</div>