.header-section {
    z-index: 61;
    position: fixed;
    top: 0;
}
.header-section .md-toolbar-tools>.md-button:last-child {
    margin-right: -20px;
}

.header-section .login-button {
    height: 100%;
}