<md-toolbar class="md-hue-2 header-section">
    <div class="md-toolbar-tools">
        <md-button title="Toggle menu" ng-click="toggleLeft()"
                   class="md-icon-button" aria-label="Settings">
            <md-icon ng-bind="'menu'" aria-label="menu"></md-icon>
        </md-button>
        <h5 flex md-truncate></h5>
        <md-button class="login-button" ng-if="!$root.user"
                   ng-click="$root.showLoginForm($event)"
                   aria-label="User">
            Login
        </md-button>
        <div ng-if="$root.user">
            <md-button class="login-button"
                       ui-sref="profile"
                       aria-label="User">
                {{$root.user.name}}
            </md-button>
            <md-button class="login-button"
                       ng-click="$root.logOut()"
                       ui-sref="home"
                       aria-label="User">
                Logout
            </md-button>
        </div>
    </div>
</md-toolbar>