<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon ng-bind="'close'" aria-label="cancel"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="userForm" required="false">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input ng-model="user.name" type="text" name="name">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="user.email" type="email" name="email">
                        <div ng-messages="userForm.email.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Error: email disallowed
                            </div>
                        </div>
                    </md-input-container>
                    <md-button ng-click="answer(user)" ng-disabled="!user.email || !user.name">
                        Remember and Log In
                    </md-button>
                </form>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>