.footer-section {
  z-index: 61;
  position: absolute;
  bottom: 0;
}

.footer-section .md-toolbar-tools.footer {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.header-section {
  z-index: 61;
  position: fixed;
  top: 0;
}

.header-section .md-toolbar-tools > .md-button:last-child {
  margin-right: -20px;
}

.header-section .login-button {
  height: 100%;
}
md-sidenav {
  width: 250px;
}

.menu-container {
  margin-top: 64px;
}

.menu-container .logo-container {
  width: 100%;
  text-align: center;
}

.menu-container .logo-container img {
  height: 128px;
}

.menu-container .logo-container h1 {
  margin-top: 0;
}

.menu-container md-content {
  margin: 0;
}

.menu-container md-list {
  margin: 0 !important;
  padding: 0;
}

.menu-container md-list-item {
  padding: 0;
}

.menu-container .md-button.md-primary.menu-item {
  text-align: left;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}

.menu-container .md-button.md-primary.menu-item img {
  height: 48px;
  padding-right: 10px;
}
.page-container {
  margin: 64px 0 0 250px;
}

.page-container.wide-open {
  margin-left: 0;
}
.page-section.home md-list-item._md-button-wrap > div.md-button:first-child > .md-button:first-child {
  background-color: rgba(72, 155, 4, 0.4);
  border-radius: 5px;
}

.page-section.home .veggie-option {
  cursor: pointer;
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px;
}

.page-section.home .veggie-option .md-item-text {
  padding: 8px;
  border-radius: 3px;
}

.page-section.home .veggie-option .md-item-text h3,
.page-section.home .veggie-option .md-item-text p {
  padding: 0;
  margin: 0;
}

.page-section.home .get-more {
  text-align: center;
  padding-top: 30px;
}
.new-page {
  text-align: center;
  background-color: white;
}
.profile {
  padding-top: 1px;
}
.vegetable {
  margin: 50px;
}