.page-section.home {

  md-list-item._md-button-wrap>div.md-button:first-child>.md-button:first-child {
    background-color: rgba(72, 155, 4, 0.4);
    border-radius: 5px;
  }

  .veggie-option {
    cursor: pointer;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 8px;
  }

  .veggie-option .md-item-text {
    padding: 8px;
    border-radius: 3px;
  }

  .veggie-option .md-item-text h3,
  .veggie-option .md-item-text p {
    padding: 0;
    margin: 0;
  }

  .get-more {
    text-align: center;
    padding-top: 30px;
  }
}
