<div class="page-section home">
    <md-list>
        <md-list-item class="md-2-line veggie-option"
                      ng-repeat="veg in vm.vegetables track by $index"
                      ui-sref="vegetable({id: veg.id})"
                      layout="row"
                      layout-wrap>
            <div class="md-item-text" flex>
                <h3>{{veg.name}}</h3>
                <p>{{veg.type}}</p>
            </div>
        </md-list-item>
    </md-list>
    <div class="get-more">
        <md-button ng-click="vm.getMoreInfo('get_more_info')"
                   aria-label="more">
            Get More Info
        </md-button>
    </div>
</div>